<!DOCTYPE html>
<html>
<head>
  <title>Mesh Editor</title>
  <script src="vue.js"></script>
  <script src="jquery.min.js"></script>
  <script src="three.min.js"></script>
  <script src="Projector.js"></script>
  <script src="CanvasRenderer.js"></script>
  <script src="OrbitControls.js"></script>
  <script src="sample-meshes.js"></script>

  <style>
  html, body, #app {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 11pt;
  }
  #plotContainer {
    height: 100%;
    margin-right: 200px;
    overflow: hidden;
  }
  #sidebar {
    box-sizing: border-box;
    float: right;
    max-height: 100%;
    width: 200px;
    padding: 5px;
    margin: 0;
    overflow: scroll;
  }
  .upload-wrapper input[type=file] {
    display: none;
  }
  .error {
    color: red;
  }
  .loading {
    opacity: 0;
  }
  </style>
</head>
<body>
  <div id="app">
    <div ref="sidebar" id="sidebar" class="loading">
      <div class="upload-wrapper">
        <input type="file">
        <button>Upload file</button>
        <span></span>
      </div>
      <div>
        <select v-model="sampleMeshId">
          <option value="" selected>Load sample mesh</option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div>
        <button @click="download">Download</button>
        <a style="display: none" ref="downloadLink"></a>
      </div>
      <div>
        <button v-if="!in_new_mesh" @click="in_new_mesh=true">Create new mesh</button>
        <div v-if="in_new_mesh">
          <div>New mesh settings:</div>
          <div><label>x cells: <input type="number" v-model.number="new_mesh_ui.x_cells" min="1" step="1"></label></div>
          <div><label>y cells: <input type="number" v-model.number="new_mesh_ui.y_cells" min="1" step="1"></label></div>
          <div><label>max x: <input type="number" v-model.number="new_mesh_ui.x_max" min="0" step="0.25"></label></div>
          <div><label>max y: <input type="number" v-model.number="new_mesh_ui.y_max" min="0" step="0.5"></label></div>
          <div><label><input type="checkbox" v-model="new_mesh_ui.mirror"> Mirror</label></div>
          <button @click="in_new_mesh=false">Back</button>
          <button @click="createNewMesh">Create</button>
        </div>
      </div>
      <div v-if="mesh_props.asymmetric" class="error">Asymmetric mesh</div>
      <hr>
      <div><button @click="resetView">Reset view</button></div>
      <div>
        <button @click="viewPreset('top')">Top</button>
        <button @click="viewPreset('front')">Front</button>
        <button @click="viewPreset('side')">Side</button>
        <button @click="viewPreset('default')">3D</button>
      </div>
      <div><label><input type="checkbox" v-model="plot_settings.showGrid">Show grid</label></div>
      <div>Flip mesh:
        <input type="checkbox" v-model="plot_settings.flip.x">x</button>
        <input type="checkbox" v-model="plot_settings.flip.y">y</button>
        <input type="checkbox" v-model="plot_settings.flip.z">z</button>
      </div>
      <hr>
      <div>
        <button v-if="!in_split" @click="startSplit">Split mesh</button>
        <button v-if="in_split" @click="stopSplit">Cancel split</button>
        <button @click="resetMesh">Reset mesh</button>
        <div v-if="in_split">Select a line segment to split the mesh</div>
        <div v-if="in_split && split_error" class="error">{{split_error}}</div>
        <div v-if="in_split && split_impossible_y_cells" class="error">
          This mesh cannot be split because some y cell settings below have been modified.
          <a href="#" @click.prevent="resetYCells">Reset y cell settings</a> or <a href="#" @click.prevent="stopSplit">cancel</a>.
        </div>
      </div>
      <div><label><input type="checkbox" :disabled="mesh_props.asymmetric" v-model="mesh_mirror">Mirror</label></div>
      <div v-for="(settings, i) in mesh_settings">
        <b>Section {{i+1}}</b> <label><input type="checkbox" v-model="plot_settings.highlight[i]">Highlight</label>
        <div><label>x cells: <input v-model.number="settings.x_cells" @change="updateXcells" type="number" min="1" max="40" value="0"></label></div>
        <div><label>y cells: <input v-model.number="settings.y_cells" type="number" min="1" max="40" value="0"></label></div>
        <div><label>stretch: <input v-model.number="settings.stretch" type="number" min="0" step="0.1" value="1"></label></div>
        <div><label>taper: <input v-model.number="settings.taper" type="number" min="0" step="0.1" value="1"></label></div>
        <div><label>sweep: <input v-model.number="settings.sweep" type="number" min="-89" max="89" step="1" value="0"></label></div>
        <div><label>dihedral: <input v-model.number="settings.dihedral" type="number" min="-89" max="89" step="1" value="0"></label></div>
        <div><label>twist: <input v-model.number="settings.twist" type="number" min="-89" max="89" step="1" value="0"></label></div>
      </div>
    </div>
    <div ref="plotContainer" id="plotContainer"></div>
  </div>
  <script src="app.js"></script>
  <script src="file-handler.js"></script>
</body>
</html>
